.section0 {
    height: 75vh;
    &__div0{

    }
    &__div1{
        position: absolute; 
        left: 60%;
        top: 30%;
       
        
        &__img{
            width: 200px;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}