.hl__header{
    &__content{
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }
    &__logo{
        text-align: center;
        font-family: 'Concert One';
        font-size: 60px;
        @media (max-width: 1024px){
            font-size: 50px;
        }
        @media (max-width: 700px){
            font-size: 40px;
        }     
    }
    &__option-contrast{
        font-family: 'oxygen';
        font-size: 25px;
        position: fixed;
        right: 40px;
        top: 105px;
        margin-top: 0px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);

        transform-origin: right, top;
        -webkit-transform-origin: right, top;
        -ms-transform-origin: right, top;
        z-index: 3;
        @media (max-width: 1024px){
            font-size: 20px;
        }
        @media (max-width: 700px){
            font-size: 15px;
        }
        span {
            cursor: pointer;
        }
        .active{
            font-weight: bold;
            border-bottom: 2px solid #000;
            &:hover {
                border-bottom: transparent;
            }
        }
    }

    }

