@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Oxygen&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

body {
  color: #000;
  background-color: #fff;
  font-family: "oxygen", Calibri, "Trebuchet MS", sans-serif;
}

h1, h2 {
  font-family: "Concert One";
}

h2 {
  font-size: 30px;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  h2 {
    font-size: 20px;
  }
}

h1 {
  font-size: 60px;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.body__dark {
  background-color: #000;
  color: #fff;
}
.body__dark .hl__header__logo {
  text-shadow: none;
}
.body__dark a {
  color: #fff;
  border-color: #fff !important;
}
.body__dark .active {
  color: #fff;
  border-color: #fff !important;
}

.hl__header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
.hl__header__content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
.hl__header__logo {
  text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.8470588235), 2px 2px 2px rgba(255, 255, 255, 0.8470588235), -2px 2px 2px rgba(255, 255, 255, 0.8470588235), 2px -2px 2px rgba(255, 255, 255, 0.8470588235);
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Concert One";
}
.hl__header__option-contrast {
  font-family: "oxygen";
  font-size: 35px;
  position: fixed;
  right: 50px;
  top: 20px;
  transform: rotate(-90deg);
  transform-origin: right top;
  z-index: 3;
}
@media (max-width: 1024px) {
  .hl__header__option-contrast {
    font-size: 30px;
    right: 30px;
  }
}
@media (max-width: 700px) {
  .hl__header__option-contrast {
    font-size: 25px;
    right: 30px;
  }
}
.hl__header__option-contrast span {
  cursor: pointer;
}
.hl__header__option-contrast .active {
  font-weight: bold;
  font-family: "Concert One";
  border-bottom: 2px solid #000;
}

.inicio {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: transparent;
}
.inicio__content {
  height: 100vh;
  position: relative;
  width: 100%;
}
.inicio__content__h2 {
  position: absolute;
  top: 10px;
  font-size: 20px;
  margin-left: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 3px;
  max-width: min-content;
  z-index: 3;
}
.inicio__content__slider {
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .inicio__content__slider {
    margin-right: 35px;
  }
}
@media (max-width: 700px) {
  .inicio__content__slider {
    margin-right: 30px;
  }
}
.inicio__content__slider__post {
  position: relative;
}
.inicio__content__slider__post__content {
  margin: 0 0px;
  width: 100%;
  height: 100vh;
}
.inicio__content__slider__post__content__thumb-sobre {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: background-color 0.5s;
}
.inicio__content__slider__post__content__thumb-sobre.transparent {
  background-color: transparent;
}
.inicio__content__slider__post__thumb {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.inicio__content__slider__post__info {
  position: absolute;
  text-align: center;
  color: #ffffff;
  height: max-content;
  z-index: 3;
  left: 10%;
  top: 30vh;
  width: max-content;
  max-width: 90vw;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 1s, scale 1.5s;
}
@media (max-width: 1024px) {
  .inicio__content__slider__post__info {
    width: auto;
    right: 15px;
    left: 15px;
    top: 30vh;
  }
}
.inicio__content__slider__post__info:hover {
  background-color: rgba(0, 0, 0, 0.4941176471);
  scale: 1.1;
}
.inicio__content__slider__post__info span {
  font-size: 15px;
  margin-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}
.inicio__content__slider__post__info span:hover {
  border-bottom: 1px solid #ffffff;
}
.inicio__content__slider__post__info h2 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .inicio__content__slider__post__info h2 {
    font-size: 30px;
  }
}
.inicio__content__slider__post__info p {
  margin: 30px;
}
@media (max-width: 700px) {
  .inicio__content__slider__post__info p {
    font-size: 15px;
  }
}
.inicio__content__slider__post__info__button {
  font-size: 20px;
  background-color: transparent;
  display: inline-block;
  font-family: "oxygen";
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: bold;
  transition: all 0.5s;
}
@media (max-width: 700px) {
  .inicio__content__slider__post__info__button {
    font-size: 15px;
  }
}
.inicio__content__slider__post__info__button:hover {
  border-color: transparent;
  background-color: #ffffff;
  color: #000000;
}
.inicio__next {
  position: absolute;
  right: 60px;
  top: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 40px;
}
@media (max-width: 1024px) {
  .inicio__next {
    font-size: 30px;
    right: 40px;
  }
}
@media (max-width: 700px) {
  .inicio__next {
    font-size: 20px;
    right: 30px;
  }
}
.inicio__prev {
  position: absolute;
  left: 10px;
  top: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 40px;
}
@media (max-width: 1024px) {
  .inicio__prev {
    font-size: 30px;
    left: 5px;
  }
}
@media (max-width: 700px) {
  .inicio__prev {
    font-size: 20px;
    left: 3px;
  }
}

.section_2__content {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 20px 50px 20px 50px;
}
.section_2__content h2 {
  text-decoration: underline;
  margin: 40px;
}
.section_2__content__cuadricula {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.section_2__content__cuadricula__content {
  height: 400px;
  width: 500px;
  border-radius: 10px;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.section_2__content__cuadricula__content__img {
  object-fit: cover;
  width: 100%;
  min-height: 400px;
}
.section_2__content__cuadricula__content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  height: 400px;
}
.section_2__content__cuadricula__content__info__h2 {
  margin: 10px 0px;
}
.section_2__content__cuadricula__content__info__descrip {
  margin: 20px 0;
}
.section_2__content__cuadricula__content__info__p {
  margin: 20px 0;
}
.section_2__content__cuadricula__content__info__button {
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  margin: 20px auto;
}

.section3__content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.section3__content__h2 {
  margin-bottom: 30px;
  text-decoration: underline;
}

.footer {
  box-sizing: border-box;
}
.footer__div {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 5px;
}
.footer__list {
  display: inline;
  list-style: none;
  position: fixed;
  right: -70px;
  bottom: 100px;
  margin: 0px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform-origin: right, top;
  -webkit-transform-origin: right, top;
  -ms-transform-origin: right, top;
  z-index: 3;
}
@media (max-width: 1024px) {
  .footer__list {
    font-size: 15px;
    right: -80px;
  }
}
@media (max-width: 700px) {
  .footer__list {
    font-size: 15px;
    right: -80px;
  }
}
.footer__list li {
  display: inline-block;
  margin: 0px;
}
@media (max-width: 700px) {
  .footer__list li {
    font-size: 15px;
  }
}
.footer__list li a {
  margin-left: 30px;
  border-bottom: 2px solid #000;
}
.footer__list li a:hover {
  border-color: transparent;
}

.hl__header__logo__single {
  margin: 0 auto;
  text-align: center;
}

.section0 {
  margin: 10px 20px;
}
@media (max-width: 1024px) {
  .section0 {
    height: auto;
  }
}
@media (max-width: 700px) {
  .section0 {
    height: auto;
  }
}
.section0__contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 55% 35%;
  grid-row: repeat(3, auto);
  grid-template-areas: "tit img cont" "tit img cont" "tit img hech";
  grid-gap: 5px;
}
@media (max-width: 1024px) {
  .section0__contenedor {
    grid-template-areas: "tit img cont" "tit img cont" "tit hech cont";
  }
}
@media (max-width: 700px) {
  .section0__contenedor {
    grid-template-areas: "tit tit tit" "img img img" "hech hech hech" "cont cont cont";
  }
}
.section0__div1 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: auto 30px;
  transform: rotate(-180deg);
  grid-area: tit;
}
@media (max-width: 700px) {
  .section0__div1 {
    writing-mode: horizontal-tb;
    margin: 10px auto;
    transform: rotate(0deg);
  }
}
.section0__div2contentimg {
  grid-area: img;
}
.section0__div2contentimg__img {
  height: 85vh;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.section0__div3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: cont;
  width: 100%;
}
.section0__div3__div {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  text-align: center;
  margin: 20px 50px 20px 20px;
}
.section0__div3__div__h3 {
  font-family: "Concert One";
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
}
.section0__div3__div__list li {
  padding: 10px 0;
  text-decoration: underline;
  cursor: pointer;
}
.section0__div4 {
  text-align: center;
  grid-area: hech;
}
.section0__div4__hechopor {
  font-weight: bold;
  display: inline;
}
.section0__div4__autor {
  text-decoration: underline;
}

.sectionf__siguiente-anterior {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.sectionf__siguiente-anterior li {
  display: inline-block;
}
.sectionf__siguiente-anterior a {
  border-bottom: 2px solid black;
}
.sectionf__siguiente-anterior a:hover {
  border-bottom: transparent;
}

.section00 {
  height: 75vh;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 20%;
  grid-template-areas: "tex none" "texc texc";
}
.section00__div0 {
  grid-area: tex;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section00__div0__h1 {
  font-size: 90px;
}
.section00__div1 {
  position: absolute;
  left: 60%;
  top: 12%;
}
.section00__div1__img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.section00__div2 {
  grid-area: texc;
  text-align: center;
  font-weight: bold;
}
.section00__div2__p {
  margin-top: 30px;
  font-size: 25px;
  flex-grow: 30px;
}
.section00__div2__gohome {
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.section00__div2__gohome:hover {
  background-color: black;
  color: white;
}

.vec {
  position: absolute;
  height: 450px;
  width: 450px;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: rgba(133, 133, 133, 0.612);
}

.vec2 {
  position: absolute;
  height: 325px;
  width: 250px;
  top: 10%;
  left: 70%;
  z-index: -2;
  background-color: rgba(133, 133, 133, 0.612);
}

.vec3 {
  position: absolute;
  height: 120px;
  width: 150px;
  top: 70%;
  left: 80%;
  z-index: 2;
  background-color: rgba(133, 133, 133, 0.612);
}

/*# sourceMappingURL=style.css.map */
